
/* gitalk */
.gt-container a {
  color: #425638;
}
.gt-container a:hover {
  color: #C3B393;
  border-color: #C3B393;
}
.gt-container .gt-svg svg {
  fill: #425638;
}
.gt-container .gt-spinner::before {
  border-top-color: #425638;
}
.gt-container .gt-btn {
  background-color: #425638;
}
.gt-container .gt-btn:hover {
  background-color: #C3B393;
}
.gt-container .gt-link {
  border-bottom: 1px dotted #425638;
}
.gt-container .gt-user .is--poping .gt-ico svg {
  fill: #425638;
}
.gt-container .gt-popup .gt-action.is--active:before {
  background: #425638;
}
.gt-container .gt-header-controls-tip {
  color: #425638;
}
.gt-container .gt-comment-username {
  color: #425638;
}


/* sidebar githubtree */
.githubtree div {
    padding-left:5px;
}
.githubtree ul{
    padding-left:15px;
}
.githubtree li{
    margin-left: 0px;
}

.githubtree ul li.active>a {
    border-right: 2px solid;
    color: #425638;
    font-weight: 600;
}
